/* UA-BRAND-ICONS.CSS/UA-BRAND-ICONS.MIN.CSS WILL BE OVERWRITTEN BY GULP TASK*/
/* If you need to make changes, make them only in `templates/ua-brand-icons-template.css` */

@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot<%= cacheBusterQueryString %>');
  src: url('<%= fontPath %><%= fontName %>.eot?<%= cacheBuster %>#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff2<%= cacheBusterQueryString %>') format('woff2'),
    url('<%= fontPath %><%= fontName %>.woff<%= cacheBusterQueryString %>') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf<%= cacheBusterQueryString %>') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg<%= cacheBusterQueryString %>#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="<%= cssClass %>-"], [class*=" <%= cssClass %>-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "<%= fontName %>" !important;
  /* Better font rendering. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

<% _.each(glyphs, function(glyph) { %>
.<%= cssClass %>-<%= glyph.fileName %>:before {
  content: "\<%= glyph.codePoint %>";
}
<% }); %>
